/* Container for About and Skills sections */
.about-skills-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5vw;
}

.about-section, .skills-section {
    flex: 1;
}

.about-section {
    margin-right: 2vw; /* Spacing between About and Skills sections */
}

/* About Section Styles */
.about-title {
    font-size: 7rem;
    text-shadow: 3px 3px #558ABB;
    margin-top: 10vh;
    text-align: center;
}

.about-content {
    font-size: 1.25rem;
    text-align: left;
    padding: 0 5vw;
}

/* Download link styling remains the same */
.download-link {
    display: inline-flex;
    width: auto;
    padding: 8px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid #558ABB;
    border-radius: 5px;
    background-color: transparent;
    color: navajowhite;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    margin: 20px auto;
    text-align: center;
}

.download-link.active {
    background-color: #558ABB;
    color: white;
}

.download-link:hover {
    background-color: #446b9e;
    color: white;
}

/* Skills Section Styles */
.skills-section {
    margin-top: 15vh;
    text-shadow: 2px 2px #558ABB;
}

.skills-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Max four icons per row */
    gap: 30px; /* Increased spacing between icons */
    justify-items: center;
    padding: 2vh 5vw;
}

.icon {
    font-size: 2.5rem; /* Slightly larger icon size */
    color: #558ABB;
    transition: color 0.3s;
}

.icon:hover {
    color: #446b9e;
}

/* Responsive Layout Adjustments */

/* Small screens */
@media (max-width: 600px) {
    .about-skills-container {
        flex-direction: column;
        padding: 0;
    }

    .about-title {
        font-size: 4rem;
    }

    .about-content, .skills-section {
        padding: 0 5vw;
    }

    .skills-icons {
        grid-template-columns: repeat(2, 1fr); /* Two icons per row */
        gap: 20px; /* Slightly reduced spacing */
        padding-left: 0;
    }
}

/* Medium screens */
@media (min-width: 601px) and (max-width: 1200px) {
    .about-skills-container {
        flex-direction: column;
        padding: 0;
    }

    .about-title {
        font-size: 5rem;
    }

    .about-content {
        padding: 0 10vw;
        font-size: 1.1rem;
    }

    .skills-icons {
        grid-template-columns: repeat(3, 1fr); /* Three icons per row */
        gap: 25px; /* Medium spacing */
        padding: 0 10vw;
    }
}

/* Large screens */
@media (min-width: 1201px) {
    .about-skills-container {
        flex-direction: row;
        padding: 0 5vw;
    }

    .about-title {
        font-size: 7rem;
    }

    .about-content {
        padding: 0 5vw;
        font-size: 1.25rem;
    }
}
