.about-title {
    font-size: 7rem;
    text-shadow: 3px 3px #558ABB;
    margin-top: 10vh;
    text-align: center;
}

.about-content {
    padding: 0 20vw 3vh 20vw;
    font-size: 1.25rem;
    text-align: left;
}

.download-link {
    display: inline-flex; /* Constrains the button to its content width */
    width: auto; /* Ensures it doesn’t expand to full width */
    padding: 8px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border: 2px solid #558ABB;
    border-radius: 5px;
    background-color: transparent;
    color: navajowhite;
    transition: background-color 0.3s, color 0.3s;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    font-family: roboto;
    margin: 20px auto; /* Center-aligns it within the div if desired */
    text-align: center;
}


.download-link.active {
    background-color: #558ABB;
    color: white;
}

.download-link:hover {
    background-color: #446b9e; /* Darker shade on hover */
    color: white;
}

.skills {
    padding-top: 5%;
    text-shadow: 2px 2px #558ABB;

}

.skills-icons {
    padding-left: 15vw;
    padding-right: 15vw;
}

.icon {
    padding: .5%;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .about-title {
        font-size: 4rem;
    }

    .about-content {
        padding: 0 5vw 3vh 5vw;
        font-size: 1rem;
    }
}

/* Media query for medium screens */
@media (min-width: 601px) and (max-width: 1200px) {
    .about-title {
        font-size: 5rem;
    }

    .about-content {
        padding: 0 10vw 3vh 10vw;
        font-size: 1.1rem;
    }
}

/* Media query for large screens */
@media (min-width: 1201px) {
    .about-title {
        font-size: 7rem;
    }

    .about-content {
        padding: 0 20vw 3vh 20vw;
        font-size: 1.25rem;
    }
}