.music-card {
    padding-top: 20px;

}

.transparent-card {
    background-color: transparent;
    border: none;
}

.transparent-card-body {
    background-color: black;
    border: solid;
    border-color: navajowhite;
}

.title {
    padding-bottom: 20px;
    font-size: 7rem;
}

.sub-title {
    padding-bottom: 20px;
}