.music-container {
    padding: 20px;
    text-align: center;
    /* Aligning all content to the right */
}

.text-content {
    margin-bottom: 20px;
}

.transparent-card {
    background-color: transparent;
    border: none;
}

.transparent-card-body {
    background-color: black;
    border: solid;
    border-color: navajowhite;
    border-width: 2px;
    transition: transform 0.2s;
    cursor: pointer;
    border-radius: 1%;
    overflow: hidden;
    margin: 10%;
}


.transparent-card-body:hover {
    transform: scale(1.05);
}

.title {
    font-size: 7rem;
    text-shadow: 3px 3px #558ABB;
    padding-top: 10vh;
    text-align: center;
    /* Aligning the title to the right */
}

.sub-title {
    padding-bottom: 20px;
    text-align: center;
    padding: 0 25vw 0 25vw;
    /* Aligning the sub-title to the right */
}

.youtube {
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .transparent-card-body {
        margin: 2%;
    }

    .title {
        font-size: 3em;
    }

    .youtube {
        margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .transparent-card-body {
        margin: 1%;
    }

    .title {
        font-size: 2.5em;
    }

    .sub-title {
        padding-bottom: 10px;
    }

    .youtube {
        margin-bottom: 20px;
    }
}