.music-card {
    padding-top: 20px;

}

.transparent-card {
    background-color: transparent;
    border: none;
}

.transparent-card-body {
    background-color: black;
    border: solid;
    border-color: navajowhite;
    border-width: 2px;
    transition: transform 0.2s;
    cursor: pointer;
    border-radius: 1%;
}

.transparent-card-body:hover {
    transform: scale(1.05);
}

.title {
    padding-bottom: 20px;
    font-size: 7rem;
}

.sub-title {
    padding-bottom: 20px;
}

.youtube {
    margin-bottom: 50px;
}