body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    /* Align text to the center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.contact-container h1 {
    font-size: 7rem;
    text-shadow: 3px 3px #558ABB;
    margin-top: 10vh;
}

.contact-container p {
    font-size: 1.2em;
    margin-bottom: 10px;
    word-wrap: break-word;
    /* Allow long words to break onto the next line */
}

.contact-container a {
    color: #007bff;
    text-decoration: none;
}

.contact-container a:hover {
    text-decoration: underline;
}

.socials-container {
    display: flex;
    gap: 20px;
    padding-bottom: 10vh;
}

.social-logo {
    width: auto;
    height: auto;
}

.email {
    font-size: 1.6rem;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .contact-container h1 {
        font-size: 3em;
    }

    .contact-container p {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .contact-container h1 {
        font-size: 2.5em;
    }

    .contact-container p {
        font-size: 0.8em;
    }
}