body {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
    /* Center align text */
}

.contact-container h1 {
    font-size: 4em;
    padding-top: 15vh;
}

.contact-container p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact-container a {
    color: #007bff;
    text-decoration: none;
}

.contact-container a:hover {
    text-decoration: underline;
}

/* Add space between paragraphs */
.contact-container p+p {
    margin-top: 20px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .contact-container h1 {
        font-size: 3em;
        padding-top: 10vh;
    }

    .contact-container p {
        font-size: 1em;
    }
}

@media (max-width: 576px) {
    .contact-container h1 {
        font-size: 2.5em;
        padding-top: 8vh;
    }

    .contact-container p {
        font-size: 0.8em;
    }
}