.home-title {
    font-size: 7rem;
    font-weight: bold;
    text-shadow: 3px 3px #558ABB;
    padding-top: 15vh;
    text-align: center;
}

.home-subtitle {
    font-size: 2rem;
    text-align: center;
}

.BenPhoto {
    border-radius: 50%;
    margin-bottom: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: auto;
    width: 80%;
    /* Base max-width */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hey {
    padding: 0 27vw 3vh 27vw;
    font-size: 1.25rem;
    text-align: center;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .home-title {
        font-size: 4rem;
        padding-top: .01vh;

    }

    .home-subtitle {
        font-size: 1.5rem;
    }

    .about-me {
        padding: 0 5vw 3vh 5vw;
    }

    .BenPhoto {
        max-width: 500px;
        /* Adjust max-width for small screens */
    }
}

/* Media query for medium screens */
@media (min-width: 601px) and (max-width: 1200px) {
    .BenPhoto {
        max-width: 700px;
        /* Adjust max-width for medium screens */
    }
}

/* Media query for large screens */
@media (min-width: 1201px) {
    .BenPhoto {
        max-width: 800px;
        /* Adjust max-width for large screens */
    }
}