.home-title {
    font-size: 7rem;
    font-weight: bold;
    text-shadow: 3px 3px #558ABB;
}

.home-subtitle {
    font-size: 2rem;
    text-shadow: 2px px #558ABB;


}

.BenPhoto {
    border-radius: 50%;
    margin-bottom: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 400px;
    width: auto;

}

p {
    font-size: 2rem;
}

.about-me {
    margin: 0 25vw 0 25vw;
}