.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: navajowhite;
    padding: 10px 20px;
    font-family: roboto;
    font-size: large;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-brand {
    font-size: 3em;
    color: navajowhite;
    text-shadow: 2px 2px #558ABB;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    /* Allow items to wrap onto a new line */
}

.navbar-nav li {
    margin-right: 10px;
}

.navbar-nav a {
    color: navajowhite;
    text-decoration: none;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

.navbar-right {
    margin-left: auto;
}

.nav-link {
    margin: 10px;
}

.navbar-nav a.nav-link.active {
    color: ivory;
}

@media (max-width: 768px) {
    .navbar {
        font-size: medium;
    }

    .navbar-brand {
        font-size: 2em;
    }

    .navbar-nav li {
        margin-right: 5px;
    }

    .nav-link {
        margin: 5px;
    }
}

@media (max-width: 576px) {
    .navbar {
        font-size: small;
    }

    .navbar-brand {
        font-size: 1.5em;
    }

    .navbar-nav li {
        margin-right: 3px;
    }

    .nav-link {
        margin: 3px;
    }
}

.navbar {
    background: linear-gradient(90deg, #000000, #050018, #00081c, #00027c);
    background-size: 400% 400%;
    animation: gradient 50s ease infinite;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}