.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: navajowhite;
    padding: 10px 20px;
    font-family: 'Calistoga';
    font-size: large;
    border-width: 2px;

}

.navbar-brand {
    font-size: 1.5rem;
    color: navajowhite;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
}

.navbar-nav li {
    margin-right: 10px;
}

.navbar-nav a {
    color: navajowhite;
    text-decoration: none;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

.navbar-right {
    margin-left: auto;
}

.nav-link {
    margin: 10px;
}

.navbar-nav a.nav-link.active {
    color: ivory;
}