.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: navajowhite;
    padding: 10px 20px;
    font-family: monospace;
    font-size: large;

}

.navbar-brand {
    font-size: 1.5rem;
    color: navajowhite;
}

.navbar-nav {
    display: flex;
    list-style-type: none;
}

.navbar-nav li {
    margin-right: 10px;
}

.navbar-nav a {
    color: navajowhite;
    text-decoration: none;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

.ml-auto {
    justify-content: center;
}

.nav-link {
    margin: 10px;
}