.modal-image {
    max-width: 100%;
    max-height: 80vh;
    margin: 0 auto;
}

.modalButton {
    background-color: black;
    color: navajowhite;
    font-family: 'Calistoga';
}

.modalTitle {
    font-family: 'Calistoga';
    color: navajowhite;
    background-color: black;
}

.modalBody {
    font-family: 'Calistoga';
    color: navajowhite;
    background-color: black;

}

.card-text {
    color: navajowhite;
    font-size: 1.5rem;
}

.card-body {
    background-color: black;

}

.card-title {
    color: navajowhite;
}

.project-card {
    border-color: navajowhite;
    border-style: ridge;
    border-width: 4px;
}